div#menu {
	width: 70%;
	height: 300px;
	margin: auto;
	padding: 20px;
	background: #48f;
}
div#menu ul {
	list-style: none;
	margin:0;
	padding: 0;
}
div#menu li {
	float: left;
	position: relative; /* элемент главного меню будет служить привзякой для абсолютно-спозиционированных элементов*/
}
div#menu li a {
	display: block; /* для старых IE надо лепить float: left | right; */
	padding: 0 20px;
	margin: 2px;
	background: #000;
	color: #fff;
	text-decoration: none;
	font: italic normal bold 16px/50px Verdana, sans-serif;	/* line-height будет такого же размера (50px), чтобы элемент встал по центру */
	border-radius: 10px;
	
	-webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
div#menu li a:hover {
	background: #5fc;
	color: #000;
}
/* -------------------------------------- */
div#menu ul li ul {
	display: none;
	position: absolute;
}
div#menu ul li:hover > ul {
	display: block;
}
div#menu li li {
	white-space: nowrap; /* не разрывать фразу в ячейке переносами, пусть даже и есть пробельные символы */
}
/* -------------------------------------- */
div#menu ul ul li {
	position: relative;
}
div#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}