div#main {
	width: 800px;
	height: 300px;
	margin: auto;
	background: #ccc;
}
div#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: table;
	table-layout: fixed;
	overflow: hidden; /* на всякий случай, чтоб переполняемый контент не вылазил за пределы ячейки */
}
div#menu ul li {
	background: #678;
	display: table-cell;
	border-right: 1px solid #fff;
	text-align: center;
}
div#menu ul a {
	display: block;
	text-decoration: none;
	color: #fff;
	font: bold 16px/25px Verdana, sans-serif;
	height: 25px; /* значение равное высоте линии, чтобы текст был всегда по центру ячейки */
	padding: 10px;
}
div#menu ul li:last-child {
	border-right: 0;
}
div#menu ul a:hover {
	background: #789;
}